.secure.log
node_modules
.react-router

/build
/public/build
/public/saksbehandling
/server/build
/coverage

.DS_Store

/.cache
/resources

#intellij
*.iml
/.idea
/.fleet

# .env
.env*
!.env.example

.sisyphus/
.playwright-mcp/
.agents