.successIcon {
  color: var(--ax-border-success);
}

.errorIcon {
  color: var(--ax-border-danger);
}

.ikkeVurdert {
  color: var(--ax-text-neutral-decoration);
}

.seksjonstittel {
  width: 100%;
  padding: var(--ax-space-8) 0;
  margin-bottom: var(--ax-space-16);
  border-bottom: 1px solid var(--ax-border-neutral-subtle);
}
